<h1 class="mt-4">Serviço Prestado</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Novo</li>
</ol>

<div class="container-fluid">
    <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">

            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success">
                    Cliente salvo/atualizado com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{erro}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cliente">Cliente:</label>
                    <select class="form-control">
                        <option value="">Selecione...</option>
                        <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">
                            {{cliente.nome}}
                        </option>
                    </select>
                </div>
            </div>
            
        </div>
        
        <!-- <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success" *ngIf="!cliente.id">
                    <i class="fa fa-save"></i> Salvar
                </button>
                <button type="submit" class="btn btn-primary" *ngIf="cliente.id">
                    <i class="fa fa-sync-alt"></i> Atualizar
                </button>
                <button type="button" class="btn btn-warning ml-2" (click)="">
                    <i class="fa fa-arrow-alt-circle-left"></i> Voltar
                </button>
            </div>
        </div> -->
    </form>
</div>