<h1 class="mt-4">Serviço Prestado</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Novo</li>
</ol>

<div class="container-fluid">
    <form #clienteForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">

            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success">
                    Serviço Prestado salvo/atualizado com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{erro}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cliente">Cliente:</label>
                    <select class="form-control" 
                        [(ngModel)]="servico.idCliente" 
                        [ngModelOptions]="{standalone: true}">
                        <option value="">Selecione...</option>
                        <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">
                            {{cliente.nome}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputdata">Data:</label>
                    <input id="inputdata" type="text" class="form-control" [(ngModel)]="servico.data" name="data" />
                </div>
            </div>
            
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputdescricao">Descrição:</label>
                    <input id="inputdescricao" type="text" class="form-control" [(ngModel)]="servico.descricao" name="descricao" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="inputpreco">Preço:</label>
                    <input id="inputpreco" type="text" class="form-control" [(ngModel)]="servico.preco"
                        name="preco" />
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i> Salvar
                </button>
                
            </div>
        </div>
    </form>
</div>